$blue: #3bbfce;
$width: 200px;

fieldset {
    min-height:100px;
}
.equip_tab {
    cursor:pointer;
    width:150px;
    height:30px;
    border-style:solid;
    border-radius:15px;
    border: {
        style:solid;
        width:2px;
        color:$blue
    }
    padding: {
        top:15px;
        bottom:15px;
        right:10px;
        left:10px;
    }
}
#equip_box {
    width:$width;
    display:block;
    float:left;
}
#quest_box {
    display:block;
    float:right;
    width:80%;
}

